<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="YTNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="YouTubeShout.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <YTNotifier.Properties.Settings>
            <setting name="NumberOfVideosToDisplay" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForNewVideos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForNewVideosInterval" serializeAs="String">
                <value>18000000</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </YTNotifier.Properties.Settings>
        <YouTubeShout.Properties.Settings>
            <setting name="NumberOfVideosToDisplay" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRefresh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="CheckForNewVideos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForNewVideosInterval" serializeAs="String">
                <value>18000000</value>
            </setting>
        </YouTubeShout.Properties.Settings>
    </userSettings>
</configuration>
